body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
    font-size: 1.2em;
}
#glove {
    width: 200px;
    height: 500px;
    margin: 100px auto;
}
.but {
    width: 50px;
    height: 50px;
    background: #444;
    color: #fff;
    
    
    cursor: pointer;
    border-radius: 4px;
    border: solid 1px transparent;
    float: left;
    margin: 0 2px 2px 0;
    text-align: center;
}
.but:hover {
    border: solid 1px #000000;
}
#s1, #s2 {
    float: left;
}

#s1, #s2, #s3 {
    height: 20px;
}